*{
    font: 14px Arial;
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
}
.full-container{
    background-image: url(../images/bg.png);
    background-size: cover;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #ed7d31;
}
.header{
    margin: 0 auto;
    overflow: auto;
    display: flex;
}
.header-title{
    width: 100%;
}
.header-top{
   background-color: #ed7d31;
   color: #fff;
   text-align: right;
   margin: 30px 0 0 10px;
   padding: 2px;
   padding-right: 15px;
}
.header-top>h2{
    font-size: 20px;
    font-weight: bold;
}
.header-top p{
    margin: 0 0 10px 0;
    font-size: 17px;

}
.header-avatar{
    width: 30%;
    margin: 10px 30px 0 0;
}
.header-avatar img{
    width: 200px;
    height: 200px;
    border: 3px solid #ed7d31;
    border-radius: 12px;
}
.header-bot{
    display: flex;
    margin-left: 15px;
}
.bot-left i{
    color: #ed7d31;
}
.bot-right i{
    color: #ed7d31;
}
.section1 {
    display: flex;
}
h1{
    text-align: center;
    color: #ed7d31;
    font-weight: bold;
    font-size: 15px;
}
.section1-left{
    width: 50%;
}
.section1-left p{
    padding: 0 30px 0 30px;
    line-height: 1.5;
}
.section1-right{
    width: 50%;
}
.bold {
    font-weight: bold;
}
.section2{
    display: flex;
}
.section2-left{
    width: 50%;
    padding-left: 30px;
    line-height: 1.5;
}
.section2-right{
    width: 50%;
}
.orange{
    border: 2px solid #ed7d31;
    width: 65px;
    height: 20px;
    border-radius: 10px;
    background-color: #ed7d31;
    display: inline-block;
}
.non-orange{
    border: 2px solid #ed7d31;
    width: 65px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
}
.section3{
    display: flex;
}
.section3-left{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}
.section3-right{
    width: 50%;
}
.section4{
    display: flex;
}
.section4-left{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}
.section4-right{
    width: 50%;
}
.footer{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}
